<!DOCTYPE html>
<html ng-app="CloutFileManager">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Clout File Manager</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="css/normalize.css" rel="stylesheet" media="screen">
    <link href="css/foundation.min.css" rel="stylesheet" media="screen">
    <link href="css/app-screen.css" rel="stylesheet" media="screen">
    <link href="css/ios-style.css" rel="stylesheet" media="screen">
    <link href="css/tooltip.min.css" rel="stylesheet" media="screen">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.7.0/lodash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
    <script src="js/jquery.app-folders.js"></script>
    <script src="js/filelist.js"></script>
</head>
<body ng-controller="FileListController">

<!-- Start app-folders -->
<script>
    $(function() {
        $('.app-folders-container').appFolders({
            opacity: .2,                                // Opacity of non-selected items
            marginTopAdjust: true,                      // Adjust the margin-top for the folder area based on row selected?
            marginTopBase: 0,                           // If margin-top-adjust is "true", the natural margin-top for the area
            marginTopIncrement: 50,                     // If margin-top-adjust is "true", the absolute value of the increment of margin-top per row
            animationSpeed: 200,                        // Time (in ms) for transitions
            URLrewrite: true,                           // Use URL rewriting?
            URLbase: "/iClout-File-Magager/",                       // If URL rewrite is enabled, the URL base of the page where used. Example (include double-quotes): "/services/"
            internalLinkSelector: ".jaf-internal a"     // a jQuery selector containing links to content within a jQuery App Folder
        });
    });
</script>

<!-- Heading -->
<div class="row">
    <div class="twelve columns text-center"><br />
        <i class="fa fa-5x fa-cloud big-icon"><span class="icon-text-overlay">iClout</span></i>
    </div>
</div>

<!--This is what you call in the function above-->
<div id="iphone">
    <div class="iphone-positioner">
        <div class="app-folders-container">
            
            <!-- folder-rows -->
            <div ng-repeat="(this, row) in rows" class="jaf-row jaf-container">
                <div ng-if="$first" class="folder">
                    <a href="/test" target="_self" ng-click="gohome()"><img class="app-icon" ng-src="images/icon-directory.png"></a>
                    <p><b>HOME</b></p>
                </div>
                <div ng-repeat="item in row" tooltip data-direction="top" class="folder" id="getItem[$index]">
                    <a href="#"><img class="app-icon" ng-src="images/icon-{{item.extension}}.png"><span data-hint="{{item.file}}" class="hint-top"></span></a>
                </div>
            <br class="clear">
            </div>
            <!-- END folder-rows -->
            
            <!-- bottom phone screen padding -->
            <br class="clear">

        </div>
    </div>
</div>
<!--End app-folders-container-->

<!-- the search area outside of the phone shell -->
<div class="row">
    <div class="column">
        <h1>Search</h1>
        <form id="addForm" ng-submit="insert()">
            <div class="row">
                <div class="column">
                    <span class="spanLabel">To search iClout enter your search word below...</span>
                </div>
            </div>
            <div class="row">
                <div class="large-10 columns">
                    <input
                        type="text"
                        name="item"
                        ng-model="item"
                        ng-trim="false"
                        placeholder="Item">
                </div>
                <div class="large-2 columns">
                    <div class="show-for-large-up">
                        <button
                            type="submit"
                            class="small button"
                            ng-disabled="!boxValue()"
                            ><i class="fa fa-search"></i> Search</button>
                    </div>
                    <div class="show-for-small-only">
                        <button
                                type="submit"
                                class="small button fullwidth"
                                ng-disabled="!boxValue()"
                                ><i class="fa fa-search"></i> Search</button>
                    </div>
                    <div class="show-for-medium-only">
                        <button
                                type="submit"
                                class="small button fullwidth"
                                ng-disabled="!boxValue()"
                                ><i class="fa fa-search"></i> Search</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>